<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,730},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>btn_buzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,732},{140,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,78}}</string>
                <key>sourceSize</key>
                <string>{140,78}</string>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,700},{167,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,139}}</string>
                <key>sourceSize</key>
                <string>{167,139}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,136},{159,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,141}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_guo_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,456},{159,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,133}}</string>
                <key>sourceSize</key>
                <string>{159,133}</string>
            </dict>
            <key>btn_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,134},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,591},{151,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,139}}</string>
                <key>sourceSize</key>
                <string>{151,139}</string>
            </dict>
            <key>btn_sanjindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{275,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,133}}</string>
                <key>sourceSize</key>
                <string>{275,133}</string>
            </dict>
            <key>btn_sanyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1},{197,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,131}}</string>
                <key>sourceSize</key>
                <string>{197,131}</string>
            </dict>
            <key>btn_shuangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,279},{197,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,131}}</string>
                <key>sourceSize</key>
                <string>{197,131}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,595},{151,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,133}}</string>
                <key>sourceSize</key>
                <string>{151,133}</string>
            </dict>
            <key>btn_youjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,412},{197,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,131}}</string>
                <key>sourceSize</key>
                <string>{197,131}</string>
            </dict>
            <key>btn_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,279},{175,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,129}}</string>
                <key>sourceSize</key>
                <string>{175,129}</string>
            </dict>
            <key>word_buzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,732},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>word_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,430},{163,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,135}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>word_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,136},{211,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,141}}</string>
                <key>sourceSize</key>
                <string>{211,141}</string>
            </dict>
            <key>word_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{156,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,153}}</string>
                <key>sourceSize</key>
                <string>{156,153}</string>
            </dict>
            <key>word_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,295},{171,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>word_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,732},{110,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,131}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>control_word.png</string>
            <key>size</key>
            <string>{507,873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bd6511007c9787d4de80c7db97f951b:57d7a024ba18b0d0c9687bff2ae4b1bb:b98705760bbc582554891874ae63255c$</string>
            <key>textureFileName</key>
            <string>control_word.png</string>
        </dict>
    </dict>
</plist>
