<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{69,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,106}}</string>
                <key>sourceSize</key>
                <string>{69,106}</string>
            </dict>
            <key>img_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>mahjong_play_table_clock_aperture.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,209},{69,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,55}}</string>
                <key>sourceSize</key>
                <string>{69,55}</string>
            </dict>
            <key>mahjong_play_table_clock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{211,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,117}}</string>
                <key>sourceSize</key>
                <string>{211,117}</string>
            </dict>
            <key>mahjong_play_table_clock_current_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1},{189,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,103}}</string>
                <key>sourceSize</key>
                <string>{189,103}</string>
            </dict>
            <key>mahjong_play_table_clock_current_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,120},{191,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,103}}</string>
                <key>sourceSize</key>
                <string>{191,103}</string>
            </dict>
            <key>mahjong_play_table_clock_current_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,106},{191,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,101}}</string>
                <key>sourceSize</key>
                <string>{191,101}</string>
            </dict>
            <key>mahjong_play_table_clock_current_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,72},{191,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,101}}</string>
                <key>sourceSize</key>
                <string>{191,101}</string>
            </dict>
            <key>mahjong_play_table_info_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,209},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>mahjong_play_table_info_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,234},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>mahjong_play_table_info_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,225},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mahjong_play_table_info_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,209},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>mahjong_play_table_info_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,234},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>mahjong_play_table_info_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,225},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mahjong_play_table_info_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,209},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>mahjong_play_table_info_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,234},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>mahjong_play_table_info_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,225},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mahjong_play_table_info_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,209},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>mahjong_play_table_info_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,234},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>mahjong_play_table_info_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,225},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tableclock.png</string>
            <key>size</key>
            <string>{512,265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f470dee2ff3fc634f870c121f617493:f872bd6626f486bb6b9f4e84f5a8167b:b6d299bfbaf69d335ecbea0e69567fa2$</string>
            <key>textureFileName</key>
            <string>tableclock.png</string>
        </dict>
    </dict>
</plist>
