<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_move_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1235},{124,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,185}}</string>
                <key>sourceSize</key>
                <string>{124,185}</string>
            </dict>
            <key>card_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1235},{129,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,182}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1805},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1615},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1425},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1235},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1098},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1098},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1098},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1098},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1668},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,961},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,961},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,961},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,961},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,824},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,824},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,824},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,824},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,687},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,687},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,687},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,687},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,550},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,550},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,550},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,550},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,413},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,413},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,413},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,413},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,276},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,276},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,276},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,276},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,139},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,139},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,139},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,139},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>card_type_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pkCard_res.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12859ec81568e22ea4b4c255f9e0369a$</string>
            <key>textureFileName</key>
            <string>pkCard_res.png</string>
        </dict>
    </dict>
</plist>
