<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,711},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>common_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{633,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,437}}</string>
                <key>sourceSize</key>
                <string>{633,437}</string>
            </dict>
            <key>common_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{839,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{839,537}}</string>
                <key>sourceSize</key>
                <string>{839,537}</string>
            </dict>
            <key>common_btn_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1258},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>common_btn_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1217},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>common_btn_cancel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1090},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_btn_cancel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,983},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_btn_cancel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,980},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_btn_combat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1197},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>common_btn_combat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1197},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>common_btn_confirm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,980},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_btn_confirm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_btn_confirm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,876},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_btn_exit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1180},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>common_btn_exit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1139},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>common_btn_help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1061},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>common_btn_help_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,983},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>common_btn_jujue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,769},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_btn_jujue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,662},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_btn_tongyi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,555},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_btn_tongyi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,315},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,105}}</string>
                <key>sourceSize</key>
                <string>{238,105}</string>
            </dict>
            <key>common_close_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,271},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>common_close_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,203},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>common_coupons.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,665},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>common_edit_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,699},{479,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,84}}</string>
                <key>sourceSize</key>
                <string>{479,84}</string>
            </dict>
            <key>common_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,755},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>common_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,621},{56,42}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{56,42}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>common_loadingDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,555},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>common_title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,339},{358,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,72}}</string>
                <key>sourceSize</key>
                <string>{358,72}</string>
            </dict>
            <key>common_waitTipKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{199,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,177}}</string>
                <key>sourceSize</key>
                <string>{199,177}</string>
            </dict>
            <key>common_waitTipLoading.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,203},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niuniu_leave.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7c4b840b45d2f3a894d8f203ce7e68d$</string>
            <key>textureFileName</key>
            <string>niuniu_leave.png</string>
        </dict>
    </dict>
</plist>
