<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_times_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,629},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>btn_times_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,477},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>btn_times_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,629},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>btn_times_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,559},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>hog_times_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,620},{73,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,50}}</string>
                <key>sourceSize</key>
                <string>{73,50}</string>
            </dict>
            <key>hog_times_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,538},{85,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,50}}</string>
                <key>sourceSize</key>
                <string>{85,50}</string>
            </dict>
            <key>hog_times_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,590},{85,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,50}}</string>
                <key>sourceSize</key>
                <string>{85,50}</string>
            </dict>
            <key>hog_times_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,559},{85,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,50}}</string>
                <key>sourceSize</key>
                <string>{85,50}</string>
            </dict>
            <key>niuniu_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>nn_1fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,629},{155,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,63}}</string>
                <key>sourceSize</key>
                <string>{155,63}</string>
            </dict>
            <key>nn_2fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,276},{155,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,63}}</string>
                <key>sourceSize</key>
                <string>{155,63}</string>
            </dict>
            <key>whnn_btn_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,683},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>whnn_change_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,579},{87,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,43}}</string>
                <key>sourceSize</key>
                <string>{87,43}</string>
            </dict>
            <key>whnn_change_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,624},{87,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,43}}</string>
                <key>sourceSize</key>
                <string>{87,43}</string>
            </dict>
            <key>whnn_grayLayer_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,669},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>whnn_result_times_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,646},{57,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,39}</string>
            </dict>
            <key>whnn_result_times_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,669},{57,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,39}</string>
            </dict>
            <key>whnn_result_times_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,620},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>whnn_result_times_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,672},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>whnn_result_times_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,661},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>whnn_result_times_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,642},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>whnn_tip_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,433},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>whnn_tip_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,506},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>whnn_tipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1},{627,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,474}}</string>
                <key>sourceSize</key>
                <string>{627,474}</string>
            </dict>
            <key>whnn_tips_sp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,453},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>whnn_tips_sp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,524},{273,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,33}}</string>
                <key>sourceSize</key>
                <string>{273,33}</string>
            </dict>
            <key>whnn_tips_sp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,594},{124,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,33}}</string>
                <key>sourceSize</key>
                <string>{124,33}</string>
            </dict>
            <key>whnn_tips_sp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,287},{164,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,33}}</string>
                <key>sourceSize</key>
                <string>{164,33}</string>
            </dict>
            <key>whnn_tips_sp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,524},{227,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,33}}</string>
                <key>sourceSize</key>
                <string>{227,33}</string>
            </dict>
            <key>whnn_tips_sp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,1},{284,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,33}}</string>
                <key>sourceSize</key>
                <string>{284,33}</string>
            </dict>
            <key>whnn_tips_sp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,559},{137,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,33}}</string>
                <key>sourceSize</key>
                <string>{137,33}</string>
            </dict>
            <key>whnn_tips_sp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,1},{224,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,33}}</string>
                <key>sourceSize</key>
                <string>{224,33}</string>
            </dict>
            <key>whnn_tips_sp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,559},{264,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,33}}</string>
                <key>sourceSize</key>
                <string>{264,33}</string>
            </dict>
            <key>whnn_tips_sp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,1},{273,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,33}}</string>
                <key>sourceSize</key>
                <string>{273,33}</string>
            </dict>
            <key>whnn_tips_sp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,594},{214,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,33}}</string>
                <key>sourceSize</key>
                <string>{214,33}</string>
            </dict>
            <key>whnn_wordDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,477},{520,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,45}}</string>
                <key>sourceSize</key>
                <string>{520,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niuniu_game.png</string>
            <key>size</key>
            <string>{2018,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6571134e4af5cab02a1291dea486239c:05321b37ff4087f578eacf0038304b79:cc98cc5166413d2e8559ffb67e2bae83$</string>
            <key>textureFileName</key>
            <string>niuniu_game.png</string>
        </dict>
    </dict>
</plist>
