<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>whnn_banker_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,542},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>whnn_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,109},{3,3}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>whnn_btn_Hog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,377},{165,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,81}}</string>
                <key>sourceSize</key>
                <string>{165,81}</string>
            </dict>
            <key>whnn_btn_Hog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,544},{165,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,81}}</string>
                <key>sourceSize</key>
                <string>{165,81}</string>
            </dict>
            <key>whnn_btn_Hog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,532},{165,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,81}}</string>
                <key>sourceSize</key>
                <string>{165,81}</string>
            </dict>
            <key>whnn_btn_cuopai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,84},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_cuopai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,334},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_cuopai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,375},{165,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,81}}</string>
                <key>sourceSize</key>
                <string>{165,81}</string>
            </dict>
            <key>whnn_btn_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,709},{136,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,81}}</string>
                <key>sourceSize</key>
                <string>{136,81}</string>
            </dict>
            <key>whnn_btn_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,924},{136,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,81}}</string>
                <key>sourceSize</key>
                <string>{136,81}</string>
            </dict>
            <key>whnn_btn_fanpai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,334},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_fanpai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,314},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_fanpai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,542},{165,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,81}}</string>
                <key>sourceSize</key>
                <string>{165,81}</string>
            </dict>
            <key>whnn_btn_liangpai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,377},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_liangpai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,464},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_liangpai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,711},{165,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,81}}</string>
                <key>sourceSize</key>
                <string>{165,81}</string>
            </dict>
            <key>whnn_btn_noHog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,921},{146,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>whnn_btn_noHog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,735},{146,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>whnn_btn_noHog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,168},{165,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,81}}</string>
                <key>sourceSize</key>
                <string>{165,81}</string>
            </dict>
            <key>whnn_btn_ready_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,530},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_ready_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,726},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_ready_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,129},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>whnn_btn_reminder_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,728},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_reminder_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,551},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_reminder_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,335},{165,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,81}}</string>
                <key>sourceSize</key>
                <string>{165,81}</string>
            </dict>
            <key>whnn_btn_result_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>whnn_btn_result_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,597},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>whnn_btn_return_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>whnn_btn_return_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,802},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>whnn_btn_sit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,129},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>whnn_btn_sit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,109},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>whnn_btn_sit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,109},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>whnn_btn_start_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,638},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_start_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,725},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>whnn_btn_start_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,156},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>whnn_call_kuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,747},{106,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,157}}</string>
                <key>sourceSize</key>
                <string>{106,157}</string>
            </dict>
            <key>whnn_call_kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1},{229,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,106}}</string>
                <key>sourceSize</key>
                <string>{229,106}</string>
            </dict>
            <key>whnn_game_chat_kuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,847},{116,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,66}}</string>
                <key>sourceSize</key>
                <string>{116,66}</string>
            </dict>
            <key>whnn_game_chat_kuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,699},{118,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,68}}</string>
                <key>sourceSize</key>
                <string>{118,68}</string>
            </dict>
            <key>whnn_game_chat_kuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,819},{110,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,68}}</string>
                <key>sourceSize</key>
                <string>{110,68}</string>
            </dict>
            <key>whnn_game_chat_kuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,906},{116,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,66}}</string>
                <key>sourceSize</key>
                <string>{116,66}</string>
            </dict>
            <key>whnn_head_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,922},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>whnn_momey_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,168},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{100,37}</string>
            </dict>
            <key>whnn_money_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,978},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>whnn_niu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,84},{212,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,70}}</string>
                <key>sourceSize</key>
                <string>{212,70}</string>
            </dict>
            <key>whnn_niu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,171},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>whnn_niu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,239},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>whnn_niu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,725},{194,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,73}}</string>
                <key>sourceSize</key>
                <string>{194,73}</string>
            </dict>
            <key>whnn_niu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,530},{196,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,74}}</string>
                <key>sourceSize</key>
                <string>{196,74}</string>
            </dict>
            <key>whnn_niu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,551},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>whnn_niu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,239},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>whnn_niu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,597},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>whnn_niu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,811},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>whnn_niu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,368},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>whnn_niu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,582},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>whnn_niu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,796},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>whnn_niu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,309},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>whnn_niu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,307},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>whnn_robit_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,642},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>whnn_selected_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1},{114,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,165}}</string>
                <key>sourceSize</key>
                <string>{114,165}</string>
            </dict>
            <key>whnn_selected_banker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{237,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,114}}</string>
                <key>sourceSize</key>
                <string>{237,114}</string>
            </dict>
            <key>whnn_sp_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,931},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>whnn_sp_hog.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,971},{82,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,44}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>whnn_sp_hog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,883},{102,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{102,42}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>whnn_sp_hog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,927},{102,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{102,42}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>whnn_sp_hog3.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,906},{102,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{102,42}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>whnn_sp_hog4.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,878},{102,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{102,42}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>whnn_sp_lookon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{233,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,126}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>whnn_sp_noHog.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,971},{84,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,42}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>whnn_sp_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,982},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>whnn_user_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,368},{227,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,104}}</string>
                <key>sourceSize</key>
                <string>{227,104}</string>
            </dict>
            <key>whnn_user_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,375},{104,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,155}}</string>
                <key>sourceSize</key>
                <string>{104,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>whnn_gamePart.png</string>
            <key>size</key>
            <string>{1001,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f36dbf3e72dd634c54d9f6b2882bc1e7:aef78a10190a93b3c725b4d2e32f6495:f5077c6d2ce0a3044e79234edf92216c$</string>
            <key>textureFileName</key>
            <string>whnn_gamePart.png</string>
        </dict>
    </dict>
</plist>
