<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duiz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{133,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,77}</string>
            </dict>
            <key>hul2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,799},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>liangdui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,717},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>santiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,871},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>sitiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,807},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>sssFiveWith1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,582},{133,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,77}</string>
            </dict>
            <key>sssFlush01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,784},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>sssFlush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,705},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>sssFourPlum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,674},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>sssGourd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>sssJunko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>sssOnePair1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,468},{133,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,77}</string>
            </dict>
            <key>sssShowCardZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,518},{97,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,37}}</string>
                <key>sourceSize</key>
                <string>{99,37}</string>
            </dict>
            <key>sssShowComplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,154},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>sssStartCompearCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,266},{169,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,45}}</string>
                <key>sourceSize</key>
                <string>{169,47}</string>
            </dict>
            <key>sssThree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,682},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>sssTwoPair1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,626},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>sssXButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,924},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>sssXButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,950},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>sssbtn_all_cancel-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{256,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,77}}</string>
                <key>sourceSize</key>
                <string>{256,77}</string>
            </dict>
            <key>sssbtn_all_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{256,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,77}}</string>
                <key>sourceSize</key>
                <string>{256,77}</string>
            </dict>
            <key>sssbtn_confirm-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{256,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,77}}</string>
                <key>sourceSize</key>
                <string>{256,77}</string>
            </dict>
            <key>sssbtn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,77}}</string>
                <key>sourceSize</key>
                <string>{256,77}</string>
            </dict>
            <key>sssfanhuidating.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,78},{216,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{216,74}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>sssjiesanfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{216,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{216,74}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>ssspoker_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,950},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>ssspoker_type10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>ssspoker_type12.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,358},{109,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,38}}</string>
                <key>sourceSize</key>
                <string>{109,38}</string>
            </dict>
            <key>ssspoker_type13.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,599},{73,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,38}}</string>
                <key>sourceSize</key>
                <string>{73,38}</string>
            </dict>
            <key>ssspoker_type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,924},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>ssspoker_type20.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,318},{109,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,38}}</string>
                <key>sourceSize</key>
                <string>{109,38}</string>
            </dict>
            <key>ssspoker_type21.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,398},{108,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,38}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>ssspoker_type22.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,438},{106,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,38}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>ssspoker_type23.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,428},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>ssspoker_type24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>ssspoker_type25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{143,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,36}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>ssspoker_type26.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,478},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,38}}</string>
                <key>sourceSize</key>
                <string>{113,38}</string>
            </dict>
            <key>ssspoker_type27.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,924},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>ssspoker_type28.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,939},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>ssspoker_type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,932},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>ssspoker_type30.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,388},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>ssspoker_type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,939},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>ssspoker_type40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{144,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,38}}</string>
                <key>sourceSize</key>
                <string>{144,38}</string>
            </dict>
            <key>ssspoker_type41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>ssspoker_type42.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,348},{143,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,36}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>ssspoker_type5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,901},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>ssspoker_type50.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,308},{144,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,38}}</string>
                <key>sourceSize</key>
                <string>{144,38}</string>
            </dict>
            <key>ssspoker_type51.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,437},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>ssspoker_type52.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,493},{104,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,38}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>ssspoker_type60.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,348},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>ssspoker_type8.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,932},{75,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,36}}</string>
                <key>sourceSize</key>
                <string>{75,36}</string>
            </dict>
            <key>ssspoker_type80.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,939},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>ssspoker_type9.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,863},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>ssspoker_type90.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,863},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>sssquanleida.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,193},{71,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,56}}</string>
                <key>sourceSize</key>
                <string>{71,56}</string>
            </dict>
            <key>sssround_rect_133.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{133,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,32}}</string>
                <key>sourceSize</key>
                <string>{133,32}</string>
            </dict>
            <key>sssteshupaixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,231},{75,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,180}}</string>
                <key>sourceSize</key>
                <string>{75,180}</string>
            </dict>
            <key>sssteshupaixing_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,154},{75,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,180}}</string>
                <key>sourceSize</key>
                <string>{75,180}</string>
            </dict>
            <key>sunzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>tonghua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,557},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>tonghuas2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,547},{123,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,77}}</string>
                <key>sourceSize</key>
                <string>{123,77}</string>
            </dict>
            <key>wutiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{133,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:584a0e279c6e1a30db0666379766ca91:53a2946b9b74e931e72f129cfe302386:c839dc3c24f52f8c9779961881e6146e$</string>
            <key>textureFileName</key>
            <string>gameUI.png</string>
        </dict>
    </dict>
</plist>
