<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_paixin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{195,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,53}}</string>
                <key>sourceSize</key>
                <string>{195,53}</string>
            </dict>
            <key>img_paixin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,174},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>img_paixin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,420},{100,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{100,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>img_paixin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,420},{100,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{100,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>img_paixin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,291},{102,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>img_paixin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{98,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>img_paixin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{100,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{100,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>img_paixin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,408},{100,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{100,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>img_paixin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,57},{146,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{146,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>img_paixin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,174},{244,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>img_zjiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,525},{339,255}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{339,255}}</string>
                <key>sourceSize</key>
                <string>{447,255}</string>
            </dict>
            <key>img_zjiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,259},{339,255}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{339,255}}</string>
                <key>sourceSize</key>
                <string>{447,255}</string>
            </dict>
            <key>img_zjiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{339,255}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{339,255}}</string>
                <key>sourceSize</key>
                <string>{447,255}</string>
            </dict>
            <key>img_zjiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{339,255}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{339,255}}</string>
                <key>sourceSize</key>
                <string>{447,255}</string>
            </dict>
            <key>img_zjiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{447,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,255}}</string>
                <key>sourceSize</key>
                <string>{447,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yyl_types.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1419c72535a3ceede73f789b11952c97:c1276966a3f5c45c4c245743020625a4:38bbf286db6bc45a71f0a5330273d79e$</string>
            <key>textureFileName</key>
            <string>yyl_types.png</string>
        </dict>
    </dict>
</plist>
