<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duizhanshijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,549},{137,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,29}}</string>
                <key>sourceSize</key>
                <string>{137,29}</string>
            </dict>
            <key>fangjianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1192},{101,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,29}}</string>
                <key>sourceSize</key>
                <string>{101,29}</string>
            </dict>
            <key>fenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,613},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>hist_rec_backward.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,323},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>hist_rec_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,417},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>hist_rec_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,370},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>hist_rec_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1290},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>hist_rec_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1348},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>hist_rec_play_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1046},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>hist_rec_play_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,454},{2,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,54}}</string>
                <key>sourceSize</key>
                <string>{2,54}</string>
            </dict>
            <key>hist_rec_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1132},{72,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>hist_rec_share2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1151},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{35,56}</string>
            </dict>
            <key>hist_rec_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1223},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>hist_rec_view_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,81}}</string>
                <key>sourceSize</key>
                <string>{250,81}</string>
            </dict>
            <key>huifang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,306},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>huifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,391},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>nx_bofang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,777},{116,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,81}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>nx_bofang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,860},{116,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,81}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>nx_btndaikaiinweit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1109},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,81}</string>
            </dict>
            <key>nx_btndaikaiinweit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1188},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,81}</string>
            </dict>
            <key>nx_btndaikaijiesan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,611},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>nx_btndaikaijiesan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,694},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>nx_btnshare1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,943},{116,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,81}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>nx_btnshare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1026},{116,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,81}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>nx_checkrecod1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{201,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,72}}</string>
                <key>sourceSize</key>
                <string>{201,72}</string>
            </dict>
            <key>nx_checkrecod2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{201,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,72}}</string>
                <key>sourceSize</key>
                <string>{201,72}</string>
            </dict>
            <key>nx_daikaijilv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,232},{201,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,72}}</string>
                <key>sourceSize</key>
                <string>{201,72}</string>
            </dict>
            <key>nx_endresult1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1290},{41,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,83}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>nx_endresult2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,476},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{140,71}</string>
            </dict>
            <key>nx_endresult3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1259},{92,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,29}}</string>
                <key>sourceSize</key>
                <string>{92,29}</string>
            </dict>
            <key>nx_historyditu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1290},{92,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,29}}</string>
                <key>sourceSize</key>
                <string>{92,29}</string>
            </dict>
            <key>nx_historyditu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,575},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>nx_historyditu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,580},{124,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,29}}</string>
                <key>sourceSize</key>
                <string>{124,29}</string>
            </dict>
            <key>nx_historyditu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,606},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>nx_historyditu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1070},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>nx_historyditu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1101},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>nx_historyditu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1120},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>replayDiKuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,668},{400,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,63}}</string>
                <key>sourceSize</key>
                <string>{400,63}</string>
            </dict>
            <key>replayDiKuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,644},{63,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,400}}</string>
                <key>sourceSize</key>
                <string>{63,400}</string>
            </dict>
            <key>replayGesture.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,505},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>replayML1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1319},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>replayML11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1271},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>replayML2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1320},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>replayML21.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1271},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>replayML3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,180},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>replayML31.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,228},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>replayML4.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1375},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>replayML41.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1314},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>replayML5.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1368},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>replayML51.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1368},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>replayML6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,276},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>replayML61.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1271},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>replayML7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,84},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>replayML71.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,132},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>replayML8.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,523},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>replayML81.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,568},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>replayML9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,458},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>replayML91.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,476},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>xuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,637},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameHistory.png</string>
            <key>size</key>
            <string>{255,1416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82dbf150007c6b89b2d8cd41688a3d7:456532588731e66fb5cb2d262d4ba51c:565d509e7204394cce87b7ce4a51e585$</string>
            <key>textureFileName</key>
            <string>gameHistory.png</string>
        </dict>
    </dict>
</plist>
