<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_hall_room_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,65},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>btn_hall_room_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,137},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>btn_hall_room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,175},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>btn_hall_room_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,65},{207,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,88}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>btn_hall_room_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,65},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>btn_hall_room_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,137},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>btn_hall_room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,141},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>btn_hall_room_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,181},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>btn_hall_room_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,221},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>btn_hall_room_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,155},{207,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,88}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>img_room_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,215},{46,29}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,29}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>img_room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,212},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>img_room_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,64},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>img_room_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{866,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{866,4}}</string>
                <key>sourceSize</key>
                <string>{866,4}</string>
            </dict>
            <key>img_room_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,276},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>img_room_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,37},{88,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,27}}</string>
                <key>sourceSize</key>
                <string>{88,27}</string>
            </dict>
            <key>img_room_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,184},{60,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>img_room_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,215},{60,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>img_room_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,34},{403,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,29}}</string>
                <key>sourceSize</key>
                <string>{403,29}</string>
            </dict>
            <key>img_room_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,276},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>img_room_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,230},{31,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>img_room_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,273},{31,29}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>img_room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,182},{46,29}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,29}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>img_room_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,34},{118,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>img_room_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,271},{147,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,28}}</string>
                <key>sourceSize</key>
                <string>{147,28}</string>
            </dict>
            <key>img_room_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,185},{58,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>img_room_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,246},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>img_room_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,246},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>img_room_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,246},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>img_room_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,34},{238,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,29}}</string>
                <key>sourceSize</key>
                <string>{238,31}</string>
            </dict>
            <key>img_room_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,154},{113,28}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,28}}</string>
                <key>sourceSize</key>
                <string>{123,28}</string>
            </dict>
            <key>img_room_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,160},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>img_room_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,130},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>img_room_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,215},{61,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>img_room_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,243},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>img_room_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,269},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>img_room_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,239},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>img_room_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,7},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>img_room_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,245},{195,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,29}}</string>
                <key>sourceSize</key>
                <string>{195,29}</string>
            </dict>
            <key>img_room_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,240},{181,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{181,29}}</string>
                <key>sourceSize</key>
                <string>{195,29}</string>
            </dict>
            <key>img_room_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,209},{195,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,29}}</string>
                <key>sourceSize</key>
                <string>{195,29}</string>
            </dict>
            <key>img_room_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,64},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>img_room_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,246},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>img_room_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,246},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>img_room_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,219},{33,25}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{33,25}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>img_room_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,37},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,28}}</string>
                <key>sourceSize</key>
                <string>{90,28}</string>
            </dict>
            <key>img_room_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,261},{45,28}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>img_room_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,246},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>img_room_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,37},{91,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,28}}</string>
                <key>sourceSize</key>
                <string>{91,28}</string>
            </dict>
            <key>img_room_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,245},{61,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>img_room_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,152},{61,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>img_room_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,269},{45,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>img_room_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,269},{45,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>img_room_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,269},{45,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>img_room_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,31},{87,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,28}}</string>
                <key>sourceSize</key>
                <string>{87,28}</string>
            </dict>
            <key>img_room_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,273},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{33,25}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>img_room_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,65},{241,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,28}}</string>
                <key>sourceSize</key>
                <string>{241,28}</string>
            </dict>
            <key>img_room_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,61},{87,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,28}}</string>
                <key>sourceSize</key>
                <string>{87,28}</string>
            </dict>
            <key>img_room_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1},{118,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>img_room_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,91},{87,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,28}}</string>
                <key>sourceSize</key>
                <string>{87,28}</string>
            </dict>
            <key>img_room_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,239},{104,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>img_room_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,65},{118,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>img_room_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,246},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>img_room_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,182},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>img_room_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,93},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{46,27}</string>
            </dict>
            <key>img_room_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,127},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{46,27}</string>
            </dict>
            <key>img_room_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,121},{63,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>img_room_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,31},{60,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,27}}</string>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>img_room_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,184},{63,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>img_room_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,209},{192,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,28}}</string>
                <key>sourceSize</key>
                <string>{192,28}</string>
            </dict>
            <key>img_room_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,7},{760,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,25}}</string>
                <key>sourceSize</key>
                <string>{760,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_CreateRoom.png</string>
            <key>size</key>
            <string>{997,307}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f67f8501b96ecdc941ef54af99444e1:6e07bbb0eb2983e057cc02b47c1faf2e:2037398e30b35779b2d46c3a028f0dac$</string>
            <key>textureFileName</key>
            <string>hall_CreateRoom.png</string>
        </dict>
    </dict>
</plist>
