<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15zhangwanfa-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,422},{213,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,56}}</string>
                <key>sourceSize</key>
                <string>{213,56}</string>
            </dict>
            <key>15zhangwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,422},{213,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,56}}</string>
                <key>sourceSize</key>
                <string>{213,56}</string>
            </dict>
            <key>hall_bisaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,184},{452,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,160}}</string>
                <key>sourceSize</key>
                <string>{452,162}</string>
            </dict>
            <key>hall_btnshare.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,422},{159,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,75}}</string>
                <key>sourceSize</key>
                <string>{159,75}</string>
            </dict>
            <key>hall_chakanzongchengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,663},{277,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,94}}</string>
                <key>sourceSize</key>
                <string>{277,94}</string>
            </dict>
            <key>hall_chong-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,944},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>hall_chong.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,738},{57,59}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{57,59}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>hall_daikaijilu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,220},{156,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,62}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>hall_daikaijilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,378},{156,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,62}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>hall_ditukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1},{34,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,132}}</string>
                <key>sourceSize</key>
                <string>{34,132}</string>
            </dict>
            <key>hall_fanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,954},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>hall_fanhuidating.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,663},{279,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,104}}</string>
                <key>sourceSize</key>
                <string>{279,104}</string>
            </dict>
            <key>hall_freeDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,549},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>hall_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,852},{118,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,137}}</string>
                <key>sourceSize</key>
                <string>{118,137}</string>
            </dict>
            <key>hall_headK.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,901},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>hall_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,536},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>hall_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,788},{72,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>hall_jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,388},{159,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,75}}</string>
                <key>sourceSize</key>
                <string>{159,75}</string>
            </dict>
            <key>hall_jiesanfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,184},{279,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,104}}</string>
                <key>sourceSize</key>
                <string>{279,104}</string>
            </dict>
            <key>hall_kaifangxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,896},{96,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>hall_kairenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,966},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>hall_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,877},{72,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>hall_numbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,891},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hall_palyInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,610},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>hall_qitacanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,388},{118,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>hall_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,699},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>hall_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,944},{72,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>hall_shareTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,583},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>hall_shimingrengzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,798},{96,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>hall_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,638},{277,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,94}}</string>
                <key>sourceSize</key>
                <string>{277,94}</string>
            </dict>
            <key>hall_timeLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,917},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>hall_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,738},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>hall_wxfx_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,638},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>hall_wxfx_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,633},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>hall_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,637},{159,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,75}}</string>
                <key>sourceSize</key>
                <string>{159,75}</string>
            </dict>
            <key>hall_youxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,923},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>hall_zhengsongzhuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,639},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>img_chuangjianfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,184},{477,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,171}}</string>
                <key>sourceSize</key>
                <string>{477,171}</string>
            </dict>
            <key>img_jiarufangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{473,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,181}}</string>
                <key>sourceSize</key>
                <string>{473,181}</string>
            </dict>
            <key>jingdanwanfa-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,637},{213,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,56}}</string>
                <key>sourceSize</key>
                <string>{213,56}</string>
            </dict>
            <key>jingdanwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,637},{213,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,56}}</string>
                <key>sourceSize</key>
                <string>{213,56}</string>
            </dict>
            <key>shop_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,798},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>shop_chongzhi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,220},{166,140}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,41},{166,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shop_chongzhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,465},{166,140}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,48},{166,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shop_chongzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shop_chongzhiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1},{217,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,327}}</string>
                <key>sourceSize</key>
                <string>{217,327}</string>
            </dict>
            <key>shop_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,135},{73,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,39}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{849,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5bd5e432d599dd62a6adb9924d99f4d:628865463b3565aecc02b08c41b300d6:333c9ff079a5b8ddfb0c61408e972979$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
