<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nx_backhall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,327},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>nx_backhall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,177},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>nx_backhall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{279,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,104}}</string>
                <key>sourceSize</key>
                <string>{279,104}</string>
            </dict>
            <key>nx_backhall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,282},{279,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,104}}</string>
                <key>sourceSize</key>
                <string>{279,104}</string>
            </dict>
            <key>nx_bindcode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,563},{227,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,100}}</string>
                <key>sourceSize</key>
                <string>{227,100}</string>
            </dict>
            <key>nx_chuangjianfangjian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,377},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>nx_chuangjianfangjian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,449},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>nx_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>nx_exit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,534},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>nx_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,105},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>nx_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>nx_fengxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,358},{198,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,72}}</string>
                <key>sourceSize</key>
                <string>{198,72}</string>
            </dict>
            <key>nx_fengxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,358},{198,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,72}}</string>
                <key>sourceSize</key>
                <string>{198,72}</string>
            </dict>
            <key>nx_historybtnback1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,177},{148,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,65}}</string>
                <key>sourceSize</key>
                <string>{148,65}</string>
            </dict>
            <key>nx_historybtnback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,177},{148,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,65}}</string>
                <key>sourceSize</key>
                <string>{148,65}</string>
            </dict>
            <key>nx_imagehu.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,103},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{88,63}</string>
            </dict>
            <key>nx_jiarufangjian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,521},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>nx_jiarufangjian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,593},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>nx_jiesanfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1},{279,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,104}}</string>
                <key>sourceSize</key>
                <string>{279,104}</string>
            </dict>
            <key>nx_jiesanfangjian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,282},{279,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,104}}</string>
                <key>sourceSize</key>
                <string>{279,104}</string>
            </dict>
            <key>nx_jvjue.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,563},{227,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,100}}</string>
                <key>sourceSize</key>
                <string>{227,100}</string>
            </dict>
            <key>nx_kaishiyouxi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,358},{198,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,72}}</string>
                <key>sourceSize</key>
                <string>{198,72}</string>
            </dict>
            <key>nx_kaishiyouxi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,334},{198,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,72}}</string>
                <key>sourceSize</key>
                <string>{198,72}</string>
            </dict>
            <key>nx_laoyue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,534},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>nx_liaotianfasong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,201},{171,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,64}}</string>
                <key>sourceSize</key>
                <string>{171,64}</string>
            </dict>
            <key>nx_liaotianfasong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,267},{171,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,64}}</string>
                <key>sourceSize</key>
                <string>{171,64}</string>
            </dict>
            <key>nx_likaiyouxi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1},{227,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,100}}</string>
                <key>sourceSize</key>
                <string>{227,100}</string>
            </dict>
            <key>nx_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,558},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>nx_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1},{227,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,100}}</string>
                <key>sourceSize</key>
                <string>{227,100}</string>
            </dict>
            <key>nx_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,129},{227,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,100}}</string>
                <key>sourceSize</key>
                <string>{227,100}</string>
            </dict>
            <key>nx_sex_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,333},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>nx_sex_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,380},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>nx_tongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,129},{227,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,100}}</string>
                <key>sourceSize</key>
                <string>{227,100}</string>
            </dict>
            <key>nx_tuichudenglu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,105},{227,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,100}}</string>
                <key>sourceSize</key>
                <string>{227,100}</string>
            </dict>
            <key>nx_xuanze1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,333},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>nx_xuanze2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,333},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>nx_xuanze3.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,333},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>nx_xuanze4.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,427},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>nx_yaoqinghaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1},{279,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,104}}</string>
                <key>sourceSize</key>
                <string>{279,104}</string>
            </dict>
            <key>nx_yaoqinghaoyou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,282},{279,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,104}}</string>
                <key>sourceSize</key>
                <string>{279,104}</string>
            </dict>
            <key>nx_zongchengji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,334},{198,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,72}}</string>
                <key>sourceSize</key>
                <string>{198,72}</string>
            </dict>
            <key>nx_zongchengji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,103},{198,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,72}}</string>
                <key>sourceSize</key>
                <string>{198,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nxGameUI.png</string>
            <key>size</key>
            <string>{1020,665}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b4005f50699a00a794e6fae5135540:e31985e7c04a3707949ee3da5f112178:a54c9aa4a105d1521611def445677a96$</string>
            <key>textureFileName</key>
            <string>nxGameUI.png</string>
        </dict>
    </dict>
</plist>
