<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>num7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>nx_joindel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>sanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,1},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>suztiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pdkjoinroom.png</string>
            <key>size</key>
            <string>{1794,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73ae3772c023a871a5cb38a2f2831ac1:febf77fdb5b3ff32f549b9ffd5ec6bc1:e93d5525115cf6f6754795fd8c64c36d$</string>
            <key>textureFileName</key>
            <string>pdkjoinroom.png</string>
        </dict>
    </dict>
</plist>
