<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>btn_openNav.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1},{227,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,100}}</string>
                <key>sourceSize</key>
                <string>{227,100}</string>
            </dict>
            <key>btn_tuichudenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,30},{227,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,100}}</string>
                <key>sourceSize</key>
                <string>{227,100}</string>
            </dict>
            <key>nx_desksetditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{290,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,25}}</string>
                <key>sourceSize</key>
                <string>{292,27}</string>
            </dict>
            <key>nx_desksetditiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1},{292,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,27}}</string>
                <key>sourceSize</key>
                <string>{292,27}</string>
            </dict>
            <key>nx_desksetoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,30},{105,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,39}}</string>
                <key>sourceSize</key>
                <string>{105,39}</string>
            </dict>
            <key>nx_deskseton.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,89},{103,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,39}}</string>
                <key>sourceSize</key>
                <string>{105,39}</string>
            </dict>
            <key>nx_desksetshaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,89},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>setting_max_music_sign_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,80},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>setting_max_sound_sign_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,80},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>setting_min_music_sign_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,80},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>setting_min_sound_sign_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,80},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{333,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,24}}</string>
                <key>sourceSize</key>
                <string>{333,24}</string>
            </dict>
            <key>tiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,27},{333,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,24}}</string>
                <key>sourceSize</key>
                <string>{333,24}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,103},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,103},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pdkSetting.png</string>
            <key>size</key>
            <string>{1024,147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a9e7680b9a4a431b760b64fe1125668:4a3c32f35f28355ccd1b3a3ddb4891bb:a9e2a6b04e04f5478f793646dd2806b8$</string>
            <key>textureFileName</key>
            <string>pdkSetting.png</string>
        </dict>
    </dict>
</plist>
