<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wh_dahu_fenyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1},{269,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{269,112}}</string>
                <key>sourceSize</key>
                <string>{269,118}</string>
            </dict>
            <key>wh_dahu_gangkai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{389,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{389,111}}</string>
                <key>sourceSize</key>
                <string>{401,111}</string>
            </dict>
            <key>wh_dahu_haidilao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,392},{352,111}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{352,111}}</string>
                <key>sourceSize</key>
                <string>{370,111}</string>
            </dict>
            <key>wh_dahu_jiangyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,746},{287,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,118}}</string>
                <key>sourceSize</key>
                <string>{287,118}</string>
            </dict>
            <key>wh_dahu_pengpenghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,866},{293,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,111}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>wh_dahu_qiangganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,448},{275,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,109}}</string>
                <key>sourceSize</key>
                <string>{275,109}</string>
            </dict>
            <key>wh_dahu_qingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1},{269,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,118}}</string>
                <key>sourceSize</key>
                <string>{269,118}</string>
            </dict>
            <key>wh_dahu_quanqiuren.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,272},{269,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,112}}</string>
                <key>sourceSize</key>
                <string>{269,112}</string>
            </dict>
            <key>wh_dahu_xiaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,543},{193,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,119}}</string>
                <key>sourceSize</key>
                <string>{193,119}</string>
            </dict>
            <key>wh_dahu_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,272},{174,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,109}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wuhanGameUI.png</string>
            <key>size</key>
            <string>{347,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fe3ded87127ac754622fac6a1bf9f9f:1e6f99557cf96964e791d1a83b924af1:7ca63c24e979ddc01864a0fd8b662a3c$</string>
            <key>textureFileName</key>
            <string>wuhanGameUI.png</string>
        </dict>
    </dict>
</plist>
